# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/

# Local databases
*.db

# Environment variables
.env
.env.*

# IDE / editor
.vscode/
.idea/
